{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": ["airbnb", "prettier", "plugin:react/jsx-runtime", "plugin:jsx-a11y/recommended", "plugin:react-hooks/recommended"],
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/"]
            }
        }
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "impliedStrict": true
        },
        "ecmaVersion": 12
    },
    "plugins": ["prettier", "react", "react-hooks"],
    "ignorePatterns": ["*.js"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/require-default-props": "off",
        "prettier/prettier": [
            2,
            {
                "bracketSpacing": true,
                "printWidth": 140,
                "singleQuote": true,
                "trailingComma": "none",
                "tabWidth": 4,
                "useTabs": false,
                "endOfLine": "auto"
            }
        ]
    }
}